data/processed/bicycle_velocity_by_zone.csv filter=lfs diff=lfs merge=lfs -text
data/processed/walk_velocity_by_zone.csv filter=lfs diff=lfs merge=lfs -text
data/GIS/GIS_data_zones.csv filter=lfs diff=lfs merge=lfs -text
