chart_studio==1.1.0
dash==2.7.0
dash_bootstrap_components==1.2.1
ipywidgets==8.0.2
jupyter_dash==0.4.2
matplotlib==3.5.2
numpy==1.21.2
pandas==1.4.3
pycountry==22.3.5
python-dotenv==0.21.0
scipy==1.9.0
gunicorn
dash-tools
